.canvas-container {
    flex: 1;
    max-width: 37%;
    max-height: 80vh;
    min-height: 600px;
}

.visualization-container {
    flex: 1;
    max-width: 63%;
    padding: 2rem;
}

.timer-container {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}
